body{
  background-color: rgb(99, 98, 97);
  margin-top: 10px;
}
.container{

padding: 60px 30px;
}

.box-part{
  background-color:rgb(245, 222, 148);
  padding: 40px 20px;
  text-align: center;
}
.fa{
  color: blue;
  padding-bottom: 5px;
}
.p{
padding-top: 20px 20px ;
}
.box1{
  background-color: rgb(245, 222, 148);
  padding: 40px 10px;
  text-align: center;
  margin-top: 50px;
}
.fa{
  color: blue;
  padding-bottom: 5px;
}
.p{
padding-top: 20px 20px ;
}